*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variable Declarations */
:root {
    --name: 3rem;
    --sub-title: 1.5rem;
    --cntw: 6.75rem;
    --cnts: 1rem;
    --abtInfo: 1rem;
    --h2: 1.85rem;
    --h3: 1.7rem;
    --skill: 1.2rem;
    --projInf: 1rem;
    --copy: 1rem;
    --img-w: 20rem;
    --img-h: 15rem;
    --exp-t: 1rem;
    --exp-h: 2rem;
}

html, body {
    height: 100%;
    background: mintcream;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: url('/images/office-table.jpg') center center no-repeat fixed; */
    background-size: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

body.loaded::before {
    opacity: 1;
}

img {
    width: var(--img-w);
    height: var(--img-h);
}

div {
    font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif;
}

h2 {
    text-decoration: underline;
}

i {
    padding: 5px;
}

footer p {
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: var(--copy);
}

.header-container {
    height: 100%;
    width: 100%;
    background: url("../images/coffee-table.jpg") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.darken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("../images/coffee-table.jpg");
}

#header-info {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.name {
    text-decoration: none;
    position: relative;
    font-size: var(--name);
    text-align: center;
    left: -5px
}


.job_title {
    font-size: var(--sub-title);
}

.animation:nth-child(1) {
    animation-delay: 50ms;
}
.animation:nth-child(2) {
    animation-delay: 100ms;
}
.animation:nth-child(3) {
    animation-delay: 150ms;
}
.animation:nth-child(4) {
    padding: 1vh;
    letter-spacing: -1vw;
}
.animation:nth-child(5) {
    animation-delay: 200ms;
}
.animation:nth-child(6) {
    animation-delay: 250ms;
}
.animation:nth-child(7) {
    animation-delay: 300ms;
}
.animation:nth-child(8) {
    animation-delay: 350ms;
}
.animation:nth-child(9) {
    animation-delay: 400ms;
}
.animation:nth-child(10) {
    animation-delay: 450ms;
}

.animation {
    letter-spacing: -0.9vw;
    position: relative;
    animation: intro-animation 2s ease-out;
}

.contacts {
    display: inline-flex;
    list-style: none;
    padding-left: 0rem;
}

.contacts li {
    padding: 0.2em 0.5em;
    font-size: var(--cnts);
}

.contacts li a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid azure;
    color: azure;
    padding: 5px;
    width: var(--cntw);
}

.contacts li a:hover {
    background: linear-gradient(to bottom right, #6889FF, #C668FF);
}

.contacts li a i {
    display: inline;
}

#about-info {
    font-size: var(--abtInfo);
    margin-top: 0vh!important;
}

#about-info div h3, .service-box h3 {
    font-size: var(--h3);
}

#about-label, #tech-summary, #xp-label, #oth-proj-label, #certs-label {
    font-size: var(--h2);
    margin: 0 auto;
}

#skills-info {
    margin-top: 0vh!important;
    background-color: rgb(35, 209, 209);
}

#skills-container, #xp-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#skills-container div:nth-child(odd) {
    justify-self: end;
}

#skills-container div:nth-child(even) {
    justify-self: flex-start;
}

#skills-container div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--skill);
    padding: 10px;
}

#xp-container {
    text-align: center;
}

#experience-info {
    margin-top: 0vh!important;
    background-color: rgb(68, 241, 203);
}

.experience-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.experience-text h4 {
    margin: 0;
    font-size: var(--exp-h);
}

.experience-text p {
    margin: 0;
    font-size: var(--exp-t);
}

.experience-item img {
    width: var(--img-w);
    height: var(--img-h);
}

.certs-container div:first-child {
    margin: 0 auto;
}

.projects-container div:nth-child(3) .service-box, .certs-container div:nth-child(3) .service-box {
    text-align: center;
}

.projects-container div:nth-child(3) .service-box h3, .certs-container div:nth-child(3) .service-box h3 {
    text-align: center;
    padding-bottom: 10px;
}

#projects-info, #certs-info {
    font-size: var(--projInf);
    margin-top: 50px;
}

#proj-label, #certs-label, #oth-proj-label {
    font-size: var(--h2);
}

#proj-label, #certs-label, #oth-proj-label, img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.service-box h3 a, .projects-container div:nth-child(3) .service-box h3,
.certs-container div:nth-child(3) .service-box h3 {
    text-decoration: none;
}

.service-box h3 a:hover, .projects-container div:nth-child(3) .service-box h3 a:hover, 
.certs-container div:nth-child(3) .service-box h3 a:hover {
    text-decoration: underline;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@keyframes intro-animation {
    0% {
        opacity: 0;
        top: -200px;
    }

    70% {
        opacity: 1;
        top: 15px;
    }

    85% {
        opacity: 1;
        top: -10px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@media only screen
and (min-device-width : 501px)
and (max-device-width : 800px) {
    :root {
        --name: 4rem;
        --sub-title: 2.25rem;
        --cntw: 9.5rem;
        --cnts: 1.5rem;
        --abtInfo: 1.85rem;
        --h2: 2.75rem;
        --h3: 2.25rem;
        --skill: 2rem;
        --projInf: 2rem;
        --copy: 1.6rem;
        --img-w: 30rem;
        --img-h: 22.5rem;
        --exp-t: 1.4rem;
        --exp-h: 1.9rem;
    }
    .service-box a img {
        padding: 15px;
    }
    .projects-container div:nth-child(3) .service-box, .certs-container div:nth-child(3) .service-box {
        text-align: center;
    }
    .row {
        --bs-gutter-x: 0rem!important;
    }
}

@media only screen
and (min-device-width : 1px)
and (max-device-width : 500px) {
    :root {
        --name: 4.5rem;
        --sub-title: 3rem;
        --cntw: 16.25rem;
        --cnts: 2.75rem;
        --abtInfo: 2.5rem;
        --h2: 4rem;
        --h3: 3.5rem;
        --skill: 2.85rem;
        --projInf: 2.7rem;
        --copy: 2.4rem;
        --img-w: 40rem;
        --img-h: 30rem;
        --exp-t: 2.5rem;
        --exp-h: 2.75rem;
    }
    .col-sm-12 {
        flex: 0 0 auto!important;
        width: 100%!important;
    }
    .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .contacts li:nth-child(odd) {
        justify-self: end;
    }
    .contacts li:nth-child(even) {
        justify-self: start;
    }
    .contacts li:last-child {
        display: block;
        width: 32%;
    }
    #about-info div, #projects-info div, #certs-info div, #skills-info {
        margin-top: 30px;
    }
    #skills-container {
        display: grid;
        grid-template-columns: none;
    }
    #skills-container div:nth-child(odd) {
        justify-self: center;
        text-decoration: underline;
    }
    #skills-container div:nth-child(even) {
        justify-self: center;
    }
    .experience-item {
        display: flex;
        flex-direction: column; /* Change to column for smaller screens */
        align-items: center; /* Center items horizontally */
        margin-bottom: 20px;
    }
    #experience-item2 {
        flex-direction: column-reverse;
    }
    .experience-item img {
        width: var(--img-w);
        height: var(--img-h);
        margin-bottom: 10px;
    }

    .experience-text h4 {
        font-size: var(--exp-h);
        margin-top: 10px;
    }

    .experience-text p {
        font-size: var(--exp-t);
    }
    .service-box a img {
        padding: 15px;
    }
    .projects-container div:nth-child(3) .service-box, .certs-container div:nth-child(3) .service-box {
        text-align: center;
    }
    .row {
        --bs-gutter-x: 0rem!important;
    }
}